<body><div class="area"></div><nav class="main-menu">
    <ul>
        <li>
            <a href="accueil2">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Accueil
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="profil">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Profil
                </span>
            </a>
            
        </li> 
        
        <li class="has-subnav">
            <a href="publier">
                <i class="fa fa-plus fa-2x"></i>
                <span class="nav-text">   Publier             </span>
            </a>
            
        </li>

        <li>
            <a href="chercherlivreur">
                <i class="fa solid fa-search fa-2x"></i>
                <span class="nav-text">
                   Chercher un Livreur
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="reservation">
                <i class="fa fa-check fa-2x"></i>
                <span class="nav-text">
                  Reservation
                </span>
            </a>
            
        </li>
     
        <li class="has-subnav">
            <a href="listeutilisateur">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                 Aide
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="listeutilisateur">
                <i class="fa fa-comment fa-2x"></i>
                <span class="nav-text">
                Centre de Messages
                </span>
            </a>
            
        </li>
    <ul class="logout">
        <li>
           <a href="#">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                   Déconnexion
                </span>
            </a>
        </li>  
    </ul>

